@media all and (min-width: 601px) {
    #pcWidth {
        width: 400px;
        margin: 0 auto;
    }
}

/* 주문 조회: 승인 전 */

/* header */

/* main */
.auth_form {
    padding: 0 2.5px;
}

.auth_noti {
    text-align: center;
    margin-top: 60px;
    font-size: 15px;
}

/* phoneNumber */
.auth_phoneTitle {
    margin-top: 50px;
    display: flex;
    font-size:17px;
    margin-left: 30px;
}

.auth_phoneTitle img {
    width: 17px;
    height: 20px;
    margin-top: 2px;
    margin-right: 8px;
}

/* .auth_form div:nth-child(3) {
    display: none;
} */

.auth_phoneBox {
    display: flex;
    margin-top: 8px;
    margin-bottom: 20px;
    justify-content: space-around;
    padding-left: 30px;
    padding-right: 30px;
}

.auth_phoneBox hr {
    width: 10px;
    height: 1px;
    margin-top: 17px;
    background-color: rgb(205, 205, 205);
    border-color: rgb(205, 205, 205);
    border-style: solid;
}

.auth_phoneBox select {
    border-radius: 7px;
    width: 23%;
    height: 33px;
    margin-top: 3px;
    text-align: center;
    font-size: 15px;
    border: 1.5px solid rgb(205, 205, 205);
    padding: 0;
}

.auth_phoneBox option {
    margin-top: 50px;
}

.auth_phoneBox input {
    border-radius: 7px;
    width: 21%;
    height: 27px;
    margin-top: 3px;
    text-align: center;
    font-size: 15px;
    border: 1.5px solid rgb(205, 205, 205);
}

.auth_form input::-webkit-outer-spin-button,
.auth_form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.auth_form input::placeholder {
  color: rgb(205, 205, 205);
  font-style: italic;
}

.auth_form input:focus {
    outline: rgb(205, 205, 205);
}

/* password */  
.auth_pwTitle {
    margin-top: 40px;
    display: flex;
    margin-left: 35px;
    font-size:17px;
}

.auth_pwTitle img {
    width: 17px;
    height: 18px;
    margin-top: 4px;
    margin-right: 8px;
}

.auth_pwBox {
    display: flex;
    margin-top: 8px;
    margin-bottom: 20px;
    justify-content: space-between;
    padding-left: 10%;
}

.auth_pwBox input {
    border-radius: 7px;
    width: 30%;
    height: 27px;
    margin-top: 3px;
    text-align: center;
    font-size: 15px;
    border: 1.5px solid rgb(205, 205, 205);
    -webkit-text-security: disc;
}

/* kakaotalk */  
.kakaoTitle {
    margin-top: 55px;
    margin-left: 30px;
    font-size: 12px;
}

.kakaoImg {
    width: 50px;
    height: 50px;
    margin-top: 15px;
    margin-left:30px;
}

/* confirm button */  
.auth_buttonBox {
    margin: 50px 0;
    display: flex;
    justify-content: center;
}

.auth_buttonBox button {
    background-color: #fa7979;
    border-color: transparent;
    border-radius: 7px;
    color: #FFFFFF;
    padding: 8px;
    width: 280px;
    font-size: 18px;
    cursor: pointer;
}

/* 주문 조회: 승인 후 */

/* main */  
.order_main {
    margin-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 50px;
}

.order_main > div:nth-child(1) {
    margin-left: 10px;
}

.order_list {
    margin-top: 16px;
}

/* item */  
.order_box {
    margin-bottom: 35px;
}

.order_item {
    margin-top: 15px;
    border: 1px rgb(181, 181, 181) solid;
    border-radius: 10px;
    padding: 15px;
}

/* item title */
.order_itemTitle {
    display: flex;
    margin-bottom: 2px;
}

.order_itemTitle > div:nth-child(1) {
    height: 90px;
    width: 90px;
    display: flex;
    justify-content: center;
    border: 1px rgb(181, 181, 181) solid;
    border-radius: 10px;
}

.order_itemTitle > div:nth-child(1) img {
    width: 80px;
    height: 80px;
    margin: auto 0;
}

.order_itemTitle > div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 25px;
    margin-left: 15px;
}

.order_itemTitle > div:nth-child(2) div:nth-child(1) {
    font-size: 14px;
    font-weight: bold;
}

.order_itemTitle > div:nth-child(2) div:nth-child(2) {
    color: grey;
    font-size: 13px;
}

/* delivery */
.order_delivery progress {
    appearance: none;
    width: 100%;
    height: 5px;
}

.order_delivery progress::-webkit-progress-bar {
    background:#f0f0f0;
    border-radius:5px;
    box-shadow: inset 3px 3px 10px #e0e0e0;
}

.order_delivery progress::-webkit-progress-value {
    border-radius:10px;
    background: #fa7979;
    background: -webkit-linear-gradient(to right, #fdd9d9, #fa7979);
    background: linear-gradient(to right, #fdd9d9, #fa7979);
}

.order_delivery > div {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-top: 5px;
}

/* payment */
.order_payment hr {
    margin: 15px 0 10px 0;
    border: 0.5px solid rgb(181, 181, 181);
}

.order_payment > div {
    display: flex;
    flex-direction: column;
}

.order_payment p {
    font-weight: bold;
}

.order_payment > div > div {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    line-height: 20px;
}

.order_payment > div > div:nth-child(3) {
    font-weight: bold;
}

/* order information */
.order_information hr {
    margin: 10px 0;
    border: 0.5px solid rgb(181, 181, 181);
}

.order_information > div {
    display: flex;
    flex-direction: column;
}

.order_information span {
    font-weight: bold;
}

.order_information > div > div {
    font-size: 12px;
    line-height: 20px;
}

/* order cancel */
.order_cancel {
    margin-top: 15px;
    font-size: 13px;
}

.order_cancel div {
    margin-top: 5px;
    text-align: center;
}

.order_cancel span {
    font-weight: bold;
}

/* payment notification */
.order_noti {
    margin-top: 17px;
    margin-left: 5px;
    font-size: 15px;
    display: flex;
}

.order_noti hr {
    margin: 0 10px 0 0;
    border: 2.5px solid #a3a3a3;
    border-radius: 10px;
}

.order_noti > div > div:nth-child(1){
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 5px;
}

.order_noti > div > div:nth-child(2) {
    font-size: 13px;
    color: grey;
    margin-bottom: 5px;
}

.order_noti > div > div:nth-child(3) span,
.order_noti > div > div:nth-child(4) span {
    line-height: 20px;
    color: black;
}

.order_noti > div > div:nth-child(4) span:nth-child(3) {
    cursor: pointer;
    font-size: 16px;
}

.order_noti > div > div:nth-child(5) {
    margin-top: 5px;
    margin-bottom: 12px;
}

.order_noti span {
    color: red;
    font-weight: bold;
}