.header-component {
    margin-top: 8%;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
    position: relative;
}

.header-component img {
    position: absolute;
    left: 3%;
    width: 9%;
    margin-right: 0;
    top: -3px;
}

.header-component p {
    margin-top: 8%;
    text-align: center;
    width: 100%;
    font-size: 15pt;
    font-weight: 500;
    margin: 0 auto; /* 중앙 정렬 */
}