.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: flex-end;
    z-index: 1000;
    pointer-events: none;
  }
  
  .modal-overlay.active {
    display: flex;
  }
  
  .modal {
    background-color: #ffffff;
    top: 30%;
    width: 100%;
    height: 70%;
    position: relative;
    transition: transform 0.3s ease-out;
    transform: translateY(0);
    pointer-events: auto;
  }
  
  .slider-bar {
    width: 40px;
    height: 5px;
    background-color: #ccc;
    margin: 10px auto;
    border-radius: 2.5px;
    cursor: grab;
    pointer-events: auto;
  }
  .slider-bar:active {
    cursor: grabbing;
  }
  .discounted-price {
    text-decoration: line-through;
  }
  
  .input-group {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .input-group input,
  .input-group select {
    border: 1.5px solid #d9d9d9;
    background-color: white;
    border-radius: 2px;
    padding: 5px;
  }
  
  .quantity-selector {
    display: flex;
    align-items: center;
    border: 1px solid #d9d9d9;
    gap: 10px;
    padding: 5px;
    border-radius: 2px;
  }
  
  h3 {
    font-size: 15px;
  }
  
  label {
    font-size: 12px;
    opacity: 0.5;
  }
  
  .buy-button {
    margin-top: 20px;
    background-color: #f39c12;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 2px;
    cursor: pointer;
  }
  