/* modal창 외부화면 */
.Modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.slider_bar_div {
  display: flex;
  justify-content: center;
}

.slider_bar {
  background-color: #A5A5A5;
  width: 38px;
  height: 3px;
  margin-bottom: 30px;
  margin-top: 10px;
}

/* modal창 */
.modalBody {
  overflow: hidden;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 10px;
  /* 왼쪽 상단 모서리 */
  border-top-right-radius: 10px;
  /* 오른쪽 상단 모서리 */
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  transition: transform 0.3s ease-out;
  box-sizing: border-box;
  margin-top: auto;
}

.modal_content {
  width: 100%;
}

.first_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.product_info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 0;
}

.product_name {
  font-size: 16px;
  margin-bottom: 10px;
}

.current_price_small {
  font-size: 16px;
  text-align: left;
  margin-bottom: 5px;
}

.original_price {
  font-size: 13px;
  color: #a19c9c;

  text-decoration: line-through;
}

.quantity_selector {
  display: flex;
  align-items: center;
  border: 1px solid #d9d9d9;
  gap: 10px;
  padding: 5px;
  border-radius: 2px;
  height: 1rem
}

.quantity_button {
  background-color: #ffffff;
  border: none;
  font-size: 20px;
}

hr {
  margin: 20px 0;
}

.second_content,
.third_content {
  padding: 0 15px;
}

.order_title {
  text-align: left;
}

.input_group {
  display: flex;
  align-items: center;
  font-size: 12px;
  gap: 5px;
}

.input_group input,
.input_group select {
  border: 1.5px solid #d9d9d9;
  background-color: white;
  border-radius: 2px;
  padding: 5px;
  font-size: 10px;
  margin-top: 8px;
}

.input_group label {
  margin-top: 8px;
  width: 20%;
  /* 예시값: 실제로 필요한 너비에 따라 조정하세요. */
  text-align: left;
  color: rgba(0, 0, 0, 0.9);
}



.input_group input {
  flex: 1;
  /* 나머지 공간을 input 및 select 요소에 할당합니다. */
}

.input_group select {
  width: 20%;
}

.search_add {
  cursor: pointer;
  margin-top: 8px;
  background-color: #FFFFFF;
  color: #fa7979;
  border: 2px solid #fa7979;
  padding: 3px;
  font-size: 10px;
  font-weight: 600;
}

.search_add:hover {
  background-color: #fa7979;
  color: #ffffff;
}

.last input {
  margin-top: 4px;
}


h3 {
  font-size: 15px;
}

label {
  font-size: 12px;
  opacity: 0.7;
}


.submit_button {
  width: 90%;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #fa7979;
  border: none;
  color: white;

  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  height: 45px;
}
.submit_button:active {
  opacity: 0.8;
}
.negative_button {
  background-color: #757575;
  cursor: default;
  width: 80%;
}
.negative_button:active {
  opacity: 1;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h3 span {
  font-size: 12px;
  color: red;
  margin-left: 10px;
}


@media all and (min-width: 601px) {
  #pc_width {
    width: 400px;
    margin: 0 auto;
  }
}

@media all and (max-width: 399px) {
  .current_price_small {
    font-size: 17px;
  }
  

  .quantity_selector {
    gap: 5px;
    font-size: 14px;
    color: black;
  }

  .quantity_button {
    font-size: 20px;
    color: black
  }

  .input_group {
    gap: 2px;
  }
  .input_group select, .search_add {
    flex: 3;
  }
  /* .input_group input {
    height:14px 
  } */
  .input_group select, input {
    font-size: 12px;
    color: black;
  }

  .input_group label {
    font-size: 11px;
    width: 20%;
  }
  .search_add {
    font-size: 12px;
    white-space: nowrap;
  }
  .input_group input {
    flex: 1;
    /* 나머지 공간을 input 및 select 요소에 할당합니다. */
  }


  
}